.images
{
    height: 500px;
}

.images img
{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.images img:not(.active)
{
    display: none;
}

.thumb_images
{
    height: 500px;
    position: relative;
}

.thumb_images img
{
    height: 100px;
    object-fit: cover;
}

.prev
{
    position: absolute;
    top: 10px;
    left: 50%;
}

.next
{
    position: absolute;
    bottom: 10px;
    left: 50%;
}

.my_height
{
    height: 100%;
}