body
{
    background-color: black;
}

.images
{
    height: 600px;
}

.images img
{
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.images img:not(.active)
{
    display: none;
}

.thumb_images
{
    height: 600px;
    position: relative;
}

.thumb_images img
{
    height: calc(100% / 5);
    object-fit: cover;
}

.images img:not(.active)
{
    opacity: 10%;
}

.prev
{
    position: absolute;
    top: 10px;
    left: 50%;
}

.next
{
    position: absolute;
    bottom: 10px;
    left: 50%;
}

.my_height
{
    height: 100%;
}